html
  head
    title= title
    link(rel="stylesheet", type="text/css", href="/css/app.css")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js")
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400', rel='stylesheet', type='text/css')
    script
      var SERVER_NAME = '#{base_url}';
      var ENV = '#{env}'
    //script(src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js")
    //script(src="#{base_url}/picante?organization_id=#{org_id}")
    script
      (function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
      b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
      mixpanel.init("1004db980d4cfdafa269a1d813a01038");
    script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-42214215-1', 'herokuapp.com');
      ga('send', 'pageview');

    script(src="/js/scripts/mercury_loader.js?visible=false")
    script(src="/js/scripts/loadMercury.js")
  body
    .wrapper
      .container
        .hero-unit
          h1#logo.logo.mercury-region(data-mercury="full", data-type="editable") SALSA
          h2#copy(data-mercury="full") Empower clients to make the changes you dread
          
          .signup
            .email-container
              p#email.mercury-region(data-mercury="simple") [your email]
            .actions
              a.btn.btn-large.btn-danger#salsa(href="javascript:toggleMercury()") Try Me
          br
          .success-row
            .success Thanks! We'll be in touch shortly
          .warning-row
            .warning We didn't get that... mind trying again?
        //
          .row
            .span4 
              .row
                .span4
                  .icon-header
                    i.icon-time
              .row
                .span4 Save time! Don't let small edits disrupt your workflow. Make edits in place on the website as you spot the necessary content changes.
            .span4
              .row
                .span4
                  .icon-header
                    i.icon-wrench 
              .row
                .span4 Don't rely on an unreachable developer to change your website -- take control of your own content! Make your own changes and upload them directly to your own FTP server. No more developers overcharging for small changes.
            .span4
              .row
                .span4
                  .icon-header
                    i.icon-check
              .row
                .span4 Develop websites without fear for future maintenance! No more headaches of small clients demanding text changes -- let them do it themselves!
    script
      jQuery(parent).trigger('initialize:frame');
